/* Reset y scroll suave */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-fondo: #262626;
  --color-1: #d55053;
  --color-2: #f1c095;
  --color-3: #fae9d7;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  padding-top: 60px;
  background-color: var(--color-fondo);
  /* espacio para navbar fija */
}

.section {


  padding: 2rem;
  scroll-margin-top: 30px;
}

.section>h1 {
  color: var(--color-2);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.section>h2 {
  margin-top: 1.5rem;
  color: var(--color-2);
  margin-bottom: 1rem;
}

.section>p {
  color: var(--color-3);
  font-size: 1rem;

}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  background-color: var(--color-1);
  width: max-content;
  padding: 1rem;
  border-radius: 20px;
}

#github {
  color: #262626;
  text-decoration: none;
}

#github:hover {
  color: #747b7e;

}

#linkedin {
  color: #025a8a;
  text-decoration: none;
}

#linkedin:hover {
  color: #0077b5;
}

#CV {
  color: var(--color-2);
  text-decoration: none;
}

#CV:hover {
  color: var(--color-3);
}

.tech-stack {
  padding-left: 2rem;
  list-style: outside;
  color: var(--color-2);
  gap: 1rem;
  margin-top: 0.5rem;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-1);
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  z-index: 1000;
}

.navbar button {
  color: var(--color-2);
  text-decoration: none;
  font-weight: bold;
  background: inherit;
  border: none;
  font-size: 1.3rem;

}

.navbar button:hover {
  color: var(--color-3);
  cursor: pointer;
}



.timeline-item {
  margin-top: 2rem;
  position: relative;
  margin-bottom: 2rem;
}


.timeline-content {
  background: var(--color-1);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-2);
}

.timeline-year {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color-3);
}



.projects-grid {
  margin-top: 40px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

.project-card {
  gap: 1rem;
  background: var(--color-1);
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  color: var(--color-2);
}

.github-link {
  font-size: 1.5rem;
  color: #262626;
  transition: color 0.3s ease;
  margin-top: 1rem;
  display: inline-block;
}

.github-link:hover {
  color: #747b7e;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
  margin-top: 4rem;
  align-content: right;
}

.contact-form>label {
  display: flex;
  flex-direction: column;
  color: var(--color-2);
  font-weight: bold;
  gap: 0.5rem;
}

.contact-form>label>input,
.contact-form>label>textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-2);
  color: var(--color-fondo);
  max-width: 100%;
  min-width: 100%;
  min-height: 30px;
}

.form-button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-1);
  color: var(--color-2);
  font-weight: bold;
  cursor: pointer;
}

.form-button:hover {
  background-color: #b43436;
}

/*Stack tecnologico*/
.technologies {
  display: grid;
  grid-auto-flow: row;
  /* Distribuye los elementos por filas */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  justify-content: start;
  /* O center, si quieres centrar las filas */
  padding-top: 20px;
}

.techHability {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--color-1);
  border-radius: 8px;
}

.techName{
  color: var(--color-2);
}
.logoWhite {
  width: 50px;
  height: 50px;
}
