/* Reset y scroll suave */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-fondo: #30232d;
  --color-1: #d55053;
  --color-2: #f1c095;
  --color-3: #fae9d7;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  padding-top: 60px;
  background-color: rgb(28, 28, 28);
  /* espacio para navbar fija */
}

.section {
  height: 100vh;
  padding: 2rem;
  scroll-margin-top: 30px;
}

.section>h1 {
  color: var(--color-2);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section>p {
  color: var(--color-3);
  font-size: 1rem;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-1);
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  z-index: 1000;
}

.navbar a {
  color: var(--color-2);
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: var(--color-3);
}

.projects-grid {
  margin-top: 40px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

.project-card {
  gap: 1rem;
  background: var(--color-1);
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  color: var(--color-2);
}

.github-link {
  font-size: 1.5rem;
  color: #000;
  transition: color 0.3s ease;
  margin-top: 1rem;
  display: inline-block;
}

.github-link:hover {
  color: #00ccff;
}